@page "/home"
@inject NavigationManager Navigation

<h1 class="my-6">Welcome to HaSpMan</h1>

<div class="buttons">
    <MudIcon Icon="@Icons.Filled.Person"></MudIcon>
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               Link="/members/new">Add Member</MudButton>
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               Link="/members">List member</MudButton>
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               Link="/transactions/new">Add Transaction</MudButton>
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               Link="/transactions">List Transactions</MudButton>
</div>

@code {
    
}