@inject NavigationManager Navigation

<div class="button-row">
    <CardButton Icon="@Icons.Material.Filled.Login" OnClick="@(Login)">Login</CardButton>
</div>
@code {

    void Login()
    {
        Navigation.NavigateTo("Account/Login", true);
    }
}
