@page "/transactions/{TransactionId:guid}/edit"
@attribute [Authorize]
@using Commands.Handlers.Member.ExtendMembership
@using Commands.Handlers.Transaction.EditTransaction
@using Domain
@using Queries.Transactions.Handlers
@using AttachmentFile = Commands.Handlers.AttachmentFile
@inject IMediator Mediator
@inject IMapper Mapper
@inject ISnackbar Snackbar
@inject NavigationManager NavManager

<h1 class="my-6">Edit transaction</h1>

<EditForm Model="@Transaction"
          OnInvalidSubmit="@ShowError"
          OnValidSubmit="@SubmitTransaction">
    <DataAnnotationsValidator />

    <TransactionForm IsNew="false"
                     IsSearchForMembership="Transaction.Counterparty.MemberId.HasValue"
                     Transaction="@Transaction"
                     TransactionTypeGroup="_transactionTypeGroup" />

    <MudItem Class="d-flex justify-start" xs="12">
        <MudButton ButtonType="ButtonType.Submit"
                   Class="my-8"
                   Color="Color.Primary"
                   DisableElevation="true"
                   Size="Size.Large"
                   Variant="Variant.Filled">
            Save transaction
        </MudButton>
    </MudItem>
</EditForm>

@code {

    [Parameter]
    public Guid TransactionId { get; set; }

    public Models.TransactionForm Transaction = new();

    private TransactionTypeGroup _transactionTypeGroup;

    protected override async Task OnInitializedAsync()
    {
        var query = new GetTransactionByIdQuery(TransactionId);
        var transactionDetail = await Mediator.Send(query);
        Transaction = Mapper.Map<Models.TransactionForm>(transactionDetail);
        _transactionTypeGroup = TransactionTypes.GetTransactionTypeGroup(Transaction.TransactionTypeAmounts.First().TransactionType!.Value);
    }

    private async Task SubmitTransaction()
    {
        var memberId = Transaction.Counterparty.MemberId;
        var expirationDate = Transaction.NewMembershipExpirationDate;
        var applyCalculation = Transaction.ApplyMembershipCalculation;
        var command = new EditTransactionCommand(
            Id: TransactionId,
            CounterPartyName: Transaction.Counterparty.Name!,
            MemberId: Transaction.Counterparty.MemberId,
            BankAccountId: Transaction.BankAccountId.GetValueOrDefault(),
            ReceivedDateTime: new DateTimeOffset(Transaction.ReceivedDateTime!.Value),
            Description: Transaction.Description!,
            TransactionTypeAmounts: Transaction.TransactionTypeAmounts
                .Select(x => new TransactionTypeAmount(x.TransactionType!.Value, x.Amount!.Value))
                .ToList(),
            NewAttachmentFiles: Transaction.NewTransactionAttachments
                .Select(x => new AttachmentFile(x.FileName, x.ContentType, x.UnsafePath))
                .ToList());
                
        var response = await Mediator.Send(command);
        if (memberId.HasValue && expirationDate.HasValue && applyCalculation)
        {
            await Mediator.Send(new ExtendMembershipCommand(memberId.Value, expirationDate.Value));
        }
        Snackbar.Clear();
        Snackbar.Add("Transaction edited successfully!", Severity.Success);
        NavManager.NavigateTo("/transactions");
    }

    private void ShowError()
    {
        Snackbar.Clear();
        Snackbar.Add("Please correct all errors on the form", Severity.Error);
    }
}