@page "/transactions/new"
@attribute [Authorize]
@using MediatR
@using AutoMapper
@using Commands.Handlers.Transaction.AddDebitTransaction
@inject IMediator _mediator
@inject IMapper _mapper
@inject ISnackbar Snackbar
@inject NavigationManager NavManager

<h1>Add new member</h1>

<EditForm Model="@_newTransaction" OnValidSubmit="@AddTransaction" OnInvalidSubmit="@ShowError">
    <DataAnnotationsValidator />

    <TransactionForm Transaction="@_newTransaction" />

    <MudItem xs="12" Class="d-flex justify-center">
        <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8"
                   ButtonType="ButtonType.Submit">Add transaction</MudButton>
    </MudItem>
</EditForm>

@code {
    private Models.TransactionForm _newTransaction = new();

    private async Task AddTransaction()
    {
        var command = _mapper.Map<AddDebitTransactionCommand>(_newTransaction);
        var response = await _mediator.Send(command);
        Snackbar.Clear();
        Snackbar.Add($"Transaction for {_newTransaction.CounterPartyName} added successfully!", Severity.Success);
        NavManager.NavigateTo("/transactions");
    }
    private void ShowError()
    {
        Snackbar.Clear();
        Snackbar.Add("Please correct all errors on the form", Severity.Error);
    }
}